.make_rating{
    padding: 1px 40px;
}
.make_rating span{
    left: 10%;
}
.make_rating button{
    padding: 7px 20px;
    position: relative;
    left: 36%;
    font-size:15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color:#ebcb47;
    color: white;
}
.make_post button{
    padding: 7px 20px;
    position: relative;
    left: 73%;
    font-size:15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color:#ebcb47;
    color: white;

}