.status-bar__column1{
    color: white;
    justify-content: space-between;
    font-size: 20px;
    position: relative;
    top: 5px;
}

.person_phone_info_name{
    font-size: large;
}
.person_phone_info{
    margin: 10px 50px;
    padding: 10px 5px;
}
.person_phonenumber{
    margin: 10px 0px;
    padding: 1px 1px;
}