.me{
    height: 30px;
    width: 30px;
}

.search-bar{
    margin-top: 60px;
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: 10px 40px;

}
.alt-header__column {
        all:unset;
        padding:  0px 40px;
        font-size: 30px;
        width: 0%;
        position:relative;
        right: 40px;
        
}
.search-bar__column{
    padding: 10px 40px;
    font-size: 20px;
    right: 40px;
    caret-color:#11234b;
}
#searchicon{
    font-size: 21px;
    width: 90%;
}
.search-bar__input{
    width: 90%;
    height: 30px;
    border-radius: 3px;
}