.ratings{
    margin-top: 250px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.ratings h1{
    color: #11234b;
    font-size: 75px;

}    
.ratings_star_text{
        margin-top: 90px;
        display: flex;
        flex-direction:column;
        align-items: center;
}

