.status-bar{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    z-index: 1;
    justify-content:space-between;
    padding:5px 3px;
    background-color: #11234b;
    height: 50px;
}
.status-bar__column{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin: 0px 18px;
}

